#
# Api
#

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/frappe

OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_SCOPE=openid, profile, email, churros:profile, 
OIDC_AUTHORIZATION_URI=https://auth.inpt.fr/application/o/authorize/
OIDC_TOKEN_URI=https://auth.inpt.fr/application/o/token/
OIDC_USER_INFO_URI=https://auth.inpt.fr/application/o/userinfo/
OIDC_JWK_SET_URI=https://auth.inpt.fr/application/o/la-frappe/jwks/
OIDC_USER_NAME_ATTRIBUTE=preferred_username

JWT_SECRET=super-secret-key-zAXgHKqml4bipL8R7uEphaEpDmxuyfsC1auH8N8lZKT7RJlq9Ov1eiZei43SmN6S1PJ4p53UMlomjSr2owPZW737Qdnb44fBMDByuALH3Gew1CkQ385iOWS7n5Mzn4nE
JWT_EXPIRATION_MS=604800000

UPLOAD_PATH=../../uploads

#
# App
#

PUBLIC_API_URL=http://localhost:8080
