DATABASE_URL=postgresql://postgres:postgres@localhost:5432/frappe

OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_SCOPE=openid, profile, email, churros:profile, 
OIDC_AUTHORIZATION_URI=https://auth.inpt.fr/application/o/authorize/
OIDC_TOKEN_URI=https://auth.inpt.fr/application/o/token/
OIDC_USER_INFO_URI=https://auth.inpt.fr/application/o/userinfo/
OIDC_JWK_SET_URI=https://auth.inpt.fr/application/o/la-frappe/jwks/
OIDC_USER_NAME_ATTRIBUTE=preferred_username

JWT_SECRET=
JWT_EXPIRATION_MS=3600000
